<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-custom" style="background-color: #9CBDE1 !important;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="32" height="32"
            class="d-inline-block align-middle" alt="">
        <span class="fs-4 sidebar-custom-text" style="margin-left:1rem; color:#233C64;">PARROTOR</span>
    </a>
    <i class='bx bx-chevron-right sidebar-toggle'></i>
    <hr style="color: #233C64; height: 3px;">
    <ul class="nav nav-pills flex-column mb-auto">

        <li>
            <a href="/jiranistrator/dashboard/" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-dashboard-50.png') }}" width="20"
                    height="20" class="d-inline-block align-middle" alt="">
                <span class="sidebar-custom-text" style="color: #233C64 !important; font-size:15px;">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/jiranistrator/account/" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-user-60-white.png') }}" width="20"
                    height="20" class="d-inline-block align-middle" alt="">
                    <span class="sidebar-custom-text" style="color: #233C64 !important; font-size:15px;">Account</span>
            </a>
        </li>
        <li>
            <a href="/jiranistrator/remote_servers/" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-remote-50.png') }}" width="20"
                    height="20" class="d-inline-block align-middle" alt="">
                    <span class="sidebar-custom-text" style="color: #233C64 !important; font-size:15px;">Remote servers</span>
            </a>
        </li>
        <li>
            <a href="/jiranistrator/logs/" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-log-48.png') }}" width="20"
                    height="20" class="d-inline-block align-middle" alt="">
                    <span class="sidebar-custom-text" style="color: #233C64 !important; font-size:15px;">Users tracking</span>
            </a>
        </li>
        <li>
            <a href="/jiranistrator/evaluation/" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-evaluation-50.png') }}" width="20"
                    height="20" class="d-inline-block align-middle" alt="">
                    <span class="sidebar-custom-text" style="color: #233C64 !important; font-size:15px;">Users evaluation</span>
            </a>
        </li>
        <hr style="margin-top: 22rem; color: #233C64; height: 3px;">
        <li>
            <a href="/dashboard/" class="nav-link text-white" style="position: fixed; bottom:12%;">
                <img src="{{ url_for('static', filename='images/icons/icons8-admin-50.png') }}" width="24"
                    height="24" class="d-inline-block align-middle" alt="">
                <span class="sidebar-custom-text" style="color: #233C64 !important; font-size:15px;">User Page</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white" style="position: fixed; bottom:7%;">
                <img src="{{ url_for('static', filename='images/icons/icons8-logout-50.png') }}" width="20"
                    height="20" class="d-inline-block align-middle" alt="">
                <span class="sidebar-custom-text" style="color: #233C64 !important; font-size:15px;">Logout</span>
            </a>
        </li>
    </ul>
    <hr style="color: #233C64; height: 3px;">
    </div>
</div>