<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="32" height="32"
            class="d-inline-block align-middle" alt="">
        <span class="fs-4" style="margin-left:1rem;">Parator</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <img src="{{ url_for('static', filename='images/icons/icons8-home-50.png') }}" width="16" height="16"
                    class="d-inline-block align-middle" alt="">
                Home
            </a>
        </li>
        <li>
            <a href="../dashboard" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-dashboard-50.png') }}" width="16"
                    height="16" class="d-inline-block align-middle" alt="">
                Dashboard
            </a>
        </li>
        <li>
            <a href="../account" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-user-60-white.png') }}" width="16"
                    height="16" class="d-inline-block align-middle" alt="">
                Accounts
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-remote-50.png') }}" width="16"
                    height="16" class="d-inline-block align-middle" alt="">
                Remote servers
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-user-60-white.png') }}" width="16"
                    height="16" class="d-inline-block align-middle" alt="">
                Test 2
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-user-60-white.png') }}" width="16"
                    height="16" class="d-inline-block align-middle" alt="">
                Test 3
            </a>
        </li>
        <li>
            <a href="/dashboard/" class="nav-link text-white">
                <img src="{{ url_for('static', filename='images/icons/icons8-user-60-white.png') }}" width="16"
                    height="16" class="d-inline-block align-middle" alt="">
                User page
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('static', filename='images/icons/icons8-user-60-white.png') }}" width="32"
                    height="32" class="d-inline-block align-middle" alt="">
            <strong>weakness</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>