<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS import section start -->
<!-- main CSS -->
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" crossorigin="anonymous">
<!-- sidebar CSS -->
<link href="{{ url_for('static', filename='css/sidebars.css') }}" rel="stylesheet" crossorigin="anonymous">
<!-- Bootstrap CSS -->
<link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<!-- CSS import section end -->