<!doctype html>
<html lang="en">
    <head>
        {% include '/template/head.html' %}
        <title>Dashboard - Jirangobie</title>
    </head>
    <body>
    
        <div class="sidebar">
            {% include '/template/admin_sidebar.html' %}
        </div>
        
        <div class="main_grid">
            <div class="top-content">
                {% include '/template/header.html' %}
            </div>
            <div class="bottom-content">
                <!-- Remote Server Info Section Start -->
                <div class="shadow-sm p-3 mb-5 bg-body rounded" style="margin: 1rem 2rem 0 2rem; ">
                    <table class="table caption-top">
                        <caption>Remote Server data table</caption>
                        <thead>
                            <tr style="font-size: 15px;">
                                <th scope="col">#</th>
                                <th>서버 이름</th>
                                <th>보안 수준</th>
                                <th>접근 권한</th>
                                <th>운영체제</th>
                                <th>버전</th>
                                <th>IP 주소</th>
                                <th>저장된 스크립트</th>
                                <th>마지막 점검일</th>
                                <th>실행</th>
                                <th>서버 삭제</th>
                            </tr>
                        </thead>
                        <tbody id="usersTable" class="table-group-divider" style="font-size: small;">
                            
                        </tbody>
                    </table>
                    <div style="display: flex; justify-content: space-between;">
                        <div class="pagination-info" style="font-size:13px; color:#696969; margin-top:.3rem;">Showing <span id="startEntry">0</span> to <span id="endEntry">0</span> of <span id="totalEntries">0</span> entries</div>
                        <div class="pagination" style="margin-right: .4rem;"></div>
                    </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-Remote-Server" style="border-radius: unset;">Add remote server</button>
                </div>
                <!-- Remote Server Info Section End -->
            </div>
        </div>

        <!-- Add Remote Server Modal Section Start -->
        <div class="modal fade" id="add-Remote-Server" tabindex="-1" aria-labelledby="add-Remote-Server" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add-Remote-Server-Title-Label">Add remote server</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="">
                                <label class="col-form-label">서버 이름</label>
                                <input type="text" class="form-control" id="server_name">
                            </div>
                            <div class="">
                                <label class="col-form-label">접근 권한</label>
                                <div class="form-check">
                                    <div id="access_role" class="form-check">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <label class="col-form-label">IP 주소</label>
                                <input type="text" class="form-control" id="server_ip">
                            </div>
                            <div class="">
                                <label class="col-form-label">포트 번호</label>
                                <input type="text" class="form-control" id="server_port">
                            </div>
                            <div class="">
                                <label class="col-form-label">SSH 계정명</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                            <div class="">
                                <label class="col-form-label">패스워드</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="connectButton" class="btn btn-primary">Connect</button>
                        </div>
                    </form>
                </div>
                <!-- Loading... Spinner Start -->
                <div id="overlay" style="display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color: rgba(0, 0, 0, 0.5); z-index:1000;"></div>
                    <div class="spinner-border text-primary" role="status" id="loadingSpinner" style="display:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); z-index:2000;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <!-- Loading... Spinner End -->
            </div>
        </div>
        <!-- Add Remote Server Modal Section End -->

        <!-- Remove Remote Server Modal Section Start-->
        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">서버 삭제 확인</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="deleteServerName"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-danger" id="confirmDelete">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Remove Remote Server Modal Section End -->
        
        {% include '/template/foot.html' %}
        <script>

            


            function createPaginationButtons(totalPages, currentPage) {
                let buttons = '<nav aria-label="Page navigation"><ul class="pagination pagination-sm">';

                // 이전 페이지 버튼
                if (currentPage > 1) {
                    buttons += `<li class="page-item"><a href="#" class="page-link prev" data-page="${currentPage - 1}">Previous</a></li>`;
                } else {
                    buttons += `<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>`;
                }

                // 페이지 번호 버튼
                for (let i = 1; i <= totalPages; i++) {
                    if (i === currentPage) {
                        buttons += `<li class="page-item active" aria-current="page"><a href="#" class="page-link page-number" data-page="${i}">${i}</a></li>`;
                    } else {
                        buttons += `<li class="page-item"><a href="#" class="page-link page-number" data-page="${i}">${i}</a></li>`;
                    }
                }

                // 다음 페이지 버튼
                if (currentPage < totalPages) {
                    buttons += `<li class="page-item"><a href="#" class="page-link next" data-page="${currentPage + 1}">Next</a></li>`;
                } else {
                    buttons += `<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>`;
                }

                buttons += '</ul></nav>';

                $(".pagination").html(buttons);
            }

            $(document).ready(function() {
                var items_per_page = 10;
                function loadPage(pageNumber) {
                    $.post("/API/remote/get-servers", { page: pageNumber }, function(data) {

                        var tableContent = "";
                        var index = 1 + (pageNumber - 1) * 10;
                        for (var serverId in data.servers) {
                            var server = data.servers[serverId];
                            tableContent += "<tr>";
                            tableContent += "<td style='vertical-align: middle;'>" + index + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.server_name + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.security_score + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.access_role + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.os + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.version + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.ip_address + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.saved_script + "</td>";
                            tableContent += "<td style='vertical-align: middle;'>" + server.last_scan + "</td>";
                            tableContent += `<td><button class="btn btn-success btn-sm run-script" style="font-size: .675rem; padding: .2rem .4rem; white-space: nowrap;" data-server-name="${server.server_name}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" style="padding-top:.15rem;"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>스크립트 실행</button></td>`;
                            tableContent += `<td><button type='button' class="btn btn-danger btn-sm delete-server custom-delete-button" style="font-size: .675rem; padding: .2rem .4rem; white-space: nowrap;" data-server-id='` + serverId +`'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-minus" viewBox="0 0 16 16" style="padding-top:.15rem;"><path d="M5.5 9a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5"/><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/></svg>삭제</button></td>`;
                            
                            tableContent += "</tr>";
                            index++;
                        }
                        var startEntry = (pageNumber - 1) * items_per_page + 1;
                        var endEntry = Math.min(pageNumber * items_per_page, data.total_servers);
                        $("#startEntry").text(startEntry);
                        $("#endEntry").text(endEntry);
                        $("#totalEntries").text(data.total_servers);
                        $("#usersTable").html(tableContent);
                        createPaginationButtons(data.total_pages, pageNumber);

                        // roles 정보를 체크박스로 생성
                        var rolesContent = "";
                        for (var i = 0; i < data.roles.length; i++) {
                            rolesContent += `<div class="form-check">`;
                            rolesContent += `<input class="form-check-input" type="checkbox" value="${data.roles[i]}" id="role_${data.roles[i]}">`;
                            rolesContent += `<label class="form-check-label" for="role_${data.roles[i]}">${data.roles[i]}</label>`;
                            rolesContent += `</div>`;
                        }
                        $('#access_role').html(rolesContent);


                    }).fail(function() {
                        console.error("요청에 실패했습니다.");
                    });
                }loadPage(1); // 초기 페이지 로딩

                // 페이지네비게이션 버튼 클릭 이벤트
                $(document).on("click", ".page-number, .prev, .next", function(e) {
                    e.preventDefault();
                    const pageNumber = $(this).data("page");
                    loadPage(pageNumber);
                });
            });


        // add remote server modal js
        $(document).ready(function () {
            document.getElementById("connectButton").addEventListener("click", function (e) { // 'e'를 매개변수로 추가
                e.preventDefault(); // Prevent the default form submit action

                var serverName = $('#server_name').val();
                var accessRole = [];
                $("#access_role .form-check-input:checked").each(function () {
                    accessRole.push($(this).val());
                });
                var serverIp = $('#server_ip').val();
                var serverPort =$('#server_port').val();
                var userName = $('#username').val();
                var password = $('#password').val();
                
                

                $('#loadingSpinner').show();
                $('#overlay').show();

                $.ajax({
                    type: "POST",
                    url: "/API/remote/add-remote-server",
                    contentType: "application/json", // JSON으로 전송할 것임을 명시
                    data: JSON.stringify({  // 객체를 JSON 문자열로 변환
                        server_name: serverName,
                        access_role: accessRole,  // 체크된 권한들을 배열로 전송
                        server_ip: serverIp,
                        server_port: serverPort,
                        username: userName,
                        password: password
                    }),
                    success: function (response) {
                        $("#loadingSpinner").hide();
                        $('#overlay').hide();

                        if (response['status'] == 'success') {
                            alert(response['message']);
                        } else {
                            alert('Error: ' + response['message']);
                        }
                    },
                    error: function (error) {
                        // Handle error
                        $("#loadingSpinner").hide();
                        $('#overlay').hide();
                        alert('Error')
                    }
                });
            });
        });


        document.addEventListener('click', function(event) {
            if (event.target.classList.contains('run-script')) {
                // 버튼의 data-server-name 속성 값 가져오기
                var serverName = event.target.getAttribute('data-server-name');

                // AJAX POST 요청 보내기
                fetch('/API/remote/run-script', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ serverName: serverName })
                })
                .then(response => response.json())
                .then(data => {
                    // 요청 성공 시 처리
                    a='a';
                })
                .catch(error => {
                    // 오류 처리
                
                });
            }
        });
        // delete remote server js
        $(document).on("click", ".delete-server", function() {
            var serverId = $(this).data("server-id");
            var serverName = $(this).closest("tr").find("td:nth-child(2)").text();

            $("#deleteServerName").text("Are you sure you want to delete " + serverName + "?");
            $("#deleteConfirmationModal").modal('show');

            
            $("#confirmDelete").off('click').on('click', function() {
                $.ajax({
                    type: "POST",
                    url: "/API/remote/remove-remote-server",
                    contentType: "application/json",
                    data: JSON.stringify({ server_identifier: serverName }),
                    success: function(response) {
                        $("#deleteConfirmationModal").modal('hide'); // 모달 숨기기
                        if (response['status'] == 'success') {
                            alert("Server deleted successfully");
                            location.reload(); // 페이지 새로고침
                        } else {
                            alert("Error: " + response['message']);
                        }
                    },
                    error: function() {
                        $("#deleteConfirmationModal").modal('hide'); // 모달 숨기기
                        alert("An error occurred while deleting the server.");
                    }
                });
        });

        });
        </script>
    </body>
</html>