body {
    font-family: 'NanumGithicCoding', sans-serif !important;
    overflow: auto;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

img[alt="logo"] {
    margin-top: 8rem!important;
    display: block;
    margin: 60px auto;
    width: 50px; 
    margin-bottom: -1rem;
}

.forgotid_pw {
    text-align: center;
    color: #233C64;
    font-size: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.forgotid_pw2 {
    text-align: center;
    color: #233C64;
    font-size: 20px; /* font-size 수정 */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin-bottom: 7rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}

.form-group .form-control {
    width: 100%;
    height: 53px;
    border-radius: 50px;
    border: none;
    background: #FBFAEC;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #8D8BA7;
    padding-left: 20px;
    margin-bottom: 40px;
}

.button-container {
    margin-top: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between buttons */
}


.signin_up .btn-cancel, .signin_up .btn-primary {
    width: 139px; 
    height: 46px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

/* Styles specific to the .btn-cancel */
.signin_up .btn-cancel {
    background-color: #ccc;
    border-color: #aaa;
}

.signin_up .btn-cancel:hover {
    background-color: #bbb;
    border-color: #999;
}

/* Styles specific to the .btn-primary */
.signin_up .btn-primary {
    background-color: #233C63;
    border-color: #233C63;
}

.signin_up .btn-primary:hover {
    background-color: #1a2d4b;
    border-color: #1a2d4b;
}

.signin_up .login_options {
    display: block;
}
