@font-face {
    font-family: 'NanumGithicCoding';
    src: url('/static/fonts/NanumGothicCoding-Bold.ttf') format('truetype'),
        url('/static/fonts/NanumGothicCoding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NanumGithicCoding', sans-serif !important;
    overflow: auto;
}
body, html {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}
.main_grid {
    flex-grow: 1;  /* 남은 공간을 모두 차지 */
    display: flex;
    flex-direction: column;
}
.top-content {
    background-color: #f0f0f0;
    height: auto;
}

.bottom-content {
    background-color: #f0f0f0;
    flex-grow: 1;  /* 남은 공간을 모두 차지 */
}

.signin_up {
    text-align: center;
    background-color: #f0f0f0;
}

.signin_up .form {
    width: 50vw;
    display: inline-block;
    margin: 3rem 2rem 3rem 2rem;
    padding: 2rem;
    background-color: #fff;
}

.signin_up .form .form-control {
    margin: 1.5rem 0rem 1rem 0rem;
}

/* main.css에서 수정: cancel버튼 추가 및 버튼 정렬 */
.btn-container {
    display: flex;
    justify-content: space-between; 
}

.signin_up .btn-cancel {
    background-color: #ccc; 
    border-color: #aaa; 
    padding: 0.5rem 1rem; 
}

.signin_up .btn-cancel:hover {
    background-color: #bbb; 
    border-color: #999; 
}

.signin_up .btn-primary {
    background-color: #233C63;
    border-color: #233C63;
    width: 45%; 
    padding: 0.5rem 1rem; 
}
/* 수정한 부분 */

.signin_up .btn-primary:hover {
    background-color: #1a2d4b;
    border-color: #1a2d4b;
}

.signin_up .btn-outline-dark {
    margin: 1rem .2rem;
    border-color: #fff;
    font-size: .9rem;
}

.signin_up .login_options {
    display: block;
}

.navbar {
    margin:.5rem .5rem .5rem 1.5rem;
}
.navbar .container-fluid{
    font-size: 20px;
}

.navbar .none-dropdown-icon .dropdown-toggle::after {
    content: none;
}

.navbar .sm-text{
    font-size:x-small;
    font-weight: lighter;
}
.navbar .md-text{
    font-size: 1em;
    font-weight: lighter;
    font-family: sans-serif;
}


.navbar .dropdown-menu {
    font-weight: 100;
    font-size: small;
}

.tooltip .tooltip-inner {
    font-size: 5px;
}