body {
    background-color: #FBFAEC;
    /*#fce3c2*/
}

.number {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.label {
    font-size: 150%;
    font-weight: bold;
}

.problem {
    text-align: center;
    margin-bottom: 30px;
}

.problem_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}



.answer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 300px;
}

.button.option {
    width: 40px;
    color: #ffffff;
    background: #9cbde1;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.button.option:hover {
    background: #233c63;
    color: #ffffff;
    cursor: pointer;
}

.button.option:active {
    background: #233c63;
    color: #ffffff;
}

.button.option:focus {
    background-color: #233c63;
    outline: 0;
}


.button.res {
    width: 150px;
    color: #ffffff;
    background: #79affB;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    /* 가로 방향으로만 자동 마진을 주어 가운데 정렬 */
    display: block;
    /* block 요소로 만들어야 margin: 0 auto; 가 적용됨 */
}

.button.res:hover {
    background: #3084f4;
    color: #ffffff;
    cursor: pointer;
}

.button.res:active {
    background: #3084f4;
    color: #ffffff;
}

.button.res:focus {
    background-color: #3084f4;
    outline: 0;
}



/* .button.restart {
    width: 150px;
    color: #ffffff;
    background: #000000;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.button.restart:hover {
    background: #233c63;
    color: #ffffff;
    cursor: pointer;
}

.button.restart:active {
    background: #233c63;
    color: #ffffff;
}

.button.restart:focus {
    background-color: #233c63;
    outline: 0;
}

.result-restart-buttons {
    display: flex;
    justify-content: flex-start;
    padding-left: 300px;
} */

.admin {
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
}