<!doctype html>
<html lang="en">
  <head>
    {% include '/template/head.html' %}
    <title>Dashboard - Jirangobie</title>
    <style>
      table>:not(caption)>*>* {
        padding: 0rem 0rem !important;
      }
    </style>
  </head>
  
  <body>
    
    <div class="sidebar">
      {% include '/template/admin_sidebar.html' %}
    </div>
    
    <div class="main_grid">
      <div class="top-content">
        {% include '/template/header.html' %}
      </div>
      <div class="bottom-content">
        <div class="shadow p-3 mb-5 bg-body rounded" style="margin: 1rem 2rem 0 2rem; ">
          <div style="height: 330px; display: flex;">
            <div class="left-div">
              <div class="shadow p-3 mb-4 rounded" style="background-color: #f0f0f0; width: 140px; height: 140px; text-align: center;">전체 사용자<div style="top: 0px;position: relative; text-align: center;"><span style="font-size: 3rem;">23명</span></div></div>
              <div class="shadow p-3 mb-4 rounded" style="background-color: #f0f0f0; width: 140px; height: 140px; text-align: center;">전체 원격서버<div style="top: 0px;position: relative; text-align: center;"><span style="font-size: 3rem;">8대</span></div></div>
            </div>
            <div>
              <div class="shadow p rounded" style="margin-left:2rem;">
                <canvas id="bubbleChart" width="300" height="300"></canvas>
              </div>
            </div>
            <div class="shadow p rounded" style="width: 760px; height: 300px; margin-left:2rem;">
              <table class="table caption-top table-white" style="margin-top:1rem;">
                <caption>최근 질문 5개</caption>
                <thead>
                    <tr style="font-size: 15px;">
                        <th scope="col">#</th>
                        <th style="max-width:120px; width: 120px; min-width: 120px; text-align: center;">사용자</th>
                        <th>대화내역</th>
                        <th style="max-width:150px; width: 150px; min-width: 150px; text-align: center">날짜</th>
                    </tr>
                </thead>
                <tbody id="usersTable" class="table-group-divider" style="font-size: small; padding: 0 !important;">
                    
                </tbody>
            </table>
            </div>
            
            
            
          </div>
          
          <div class="shadow p rounded">
          <div>
            <canvas id="log_chart" width="1250" height="300"></canvas>
          </div>
        </div>

        </div>
      </div>
      
    </div>
    {% include '/template/foot.html' %}
  </body>
  <script>
    // 차트 데이터를 가져오고 그리는 함수
    function fetchChartData() {
        $.ajax({
            url: '/API/logs/chart',
            type: 'GET',
            success: function(response) {
                if(response.status === "success") {
                    var labels = response.message.map(log => log._id);
                    var data = response.message.map(log => log.count);

                    var ctx = document.getElementById('log_chart').getContext('2d');
                    var logChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'PARROTOR 사용량',
                                data: data,
                                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                                borderColor: 'rgba(0, 123, 255, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: false,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                } else {
                    console.error('Error fetching data:', response.message);
                }
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    }
    function bubbleChart() {
    $.ajax({
        url: '/API/logs/bubble',
        type: 'GET',
        success: function(response) {
            if(response.status === "success") {
                var commandData = response.message.map(function(item, index) {
                    return {
                        x: index,
                        y: Math.random() * 100, // 예시로 랜덤한 y값을 사용
                        r: Math.sqrt(item.totalUsage) * 5, // 버블 크기를 위한 계산
                        command: item._id
                    };
                });

                var bubbleChartPlugin = {
                    id: 'bubbleChartPlugin',
                    afterDatasetsDraw: function(chart) {
                        var ctx = chart.ctx;
                        chart.data.datasets.forEach(function(dataset, i) {
                            var meta = chart.getDatasetMeta(i);
                            if (!meta.hidden) {
                                meta.data.forEach(function(element, index) {
                                    ctx.fillStyle = 'rgb(0, 0, 0)'; // 텍스트 색상
                                    var fontSize = 14; // 텍스트 크기
                                    var fontStyle = 'normal';
                                    var fontFamily = 'Helvetica Neue';
                                    ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                                    // 데이터에서 명령어 텍스트 가져오기
                                    var dataString = dataset.data[index].command;

                                    // 텍스트 중심 계산
                                    ctx.textAlign = 'center';
                                    ctx.textBaseline = 'middle';
                                    var padding = 5;
                                    var position = element.tooltipPosition();
                                    ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                                });
                            }
                        });
                    }
                };

                var ctx = document.getElementById('bubbleChart').getContext('2d');
                var bubbleChart = new Chart(ctx, {
                    type: 'bubble',
                    data: {
                        datasets: [{
                            label: '명령어별 자주 묻는 질문',
                            data: commandData,
                            backgroundColor: 'rgba(54, 162, 235, 0.5)'
                        }]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    },
                    plugins: [bubbleChartPlugin]
                });
            } else {
                console.error('Error fetching data:', response.message);
            }
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}




    $(document).ready(function() {
      var items_per_page = 3;
      var max_length = 35; // 내용의 최대 표시 길이

      function createMoreButton(content, containerId) {
        return '<span id="' + containerId + '-preview">' + content.substring(0, max_length) + '...</span>' +
              '<span id="' + containerId + '-full" style="display: none;">' + content + '</span>';
      }


      window.toggleContent = function(containerId) {
        var isFullContentVisible = $('#' + containerId + '-full').is(':visible');

        if (!isFullContentVisible) {
            $('#' + containerId + '-preview').hide();
            $('#' + containerId + '-full').show();
            $('#' + containerId + '-toggle').html('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16" style="margin-top:.3rem;"><path d="M2 16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2zm6.5-11.5v5.793l-2.146 2.147a.5.5 0 0 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 10.293V4.5a.5.5 0 0 1 1 0z"/></svg>숨기기');
        } else {
            $('#' + containerId + '-preview').show();
            $('#' + containerId + '-full').hide();
            $('#' + containerId + '-toggle').html('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16" style="margin-top:.3rem;"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0"/></svg>더보기');
        }
      };


      function loadPage(pageNumber) {
        $.post("/API/logs/get-3", { page: pageNumber }, function(data) {
            var tableContent = "";
            var index = 1 + (pageNumber - 1) * 10;
            var logKeys = Object.keys(data.logs).reverse(); // 로그 키 배열을 역순으로

            logKeys.forEach(function(userId) {
                var user = data.logs[userId];
                var questionId = 'question-' + index;
                var answerId = 'answer-' + index;

                tableContent += "<tr>";
                tableContent += "<td rowspan='2' style='vertical-align: middle; text-align: center;'>" + index + "</td>";
                tableContent += "<td rowspan='2' style='vertical-align: middle; text-align: center'>" + user.user_id + "</td>";
                tableContent += "<td>" + (user.question.length > max_length ? createMoreButton(user.question, questionId) : user.question) + "</td>";
                tableContent += "<td rowspan='2' style='vertical-align: middle; text-align: center'>" + user.time + "</td>";
                tableContent += "</tr>";
                tableContent += "<tr style='border-bottom:groove;'>";
                tableContent += "<td>" + (user.answer.length > max_length ? createMoreButton(user.answer, answerId) : user.answer) + "</td>";
                tableContent += "</tr>";
                index++;
            });

            var startEntry = (pageNumber - 1) * items_per_page + 1;
            var endEntry = Math.min(pageNumber * items_per_page, data.total_users);
            $("#startEntry").text(startEntry);
            $("#endEntry").text(endEntry);
            $("#totalEntries").text(data.total_users);
            $("#usersTable").html(tableContent);

        }).fail(function() {
            console.error("요청에 실패했습니다.");
        });
    }
    loadPage(1); // 초기 페이지 로딩

    // 페이지네비게이션 버튼 클릭 이벤트
    $(document).on("click", ".page-number, .prev, .next", function(e) {
      e.preventDefault();
      const pageNumber = $(this).data("page");
      loadPage(pageNumber);
    });
});


$(document).ready(function() {
    fetchChartData();
    bubbleChart();
});
</script>
</html>