<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <div class="number" id="number_id"></div>
    <div class="problem" id="problem_id"></div>
    <div class="answer" id="answer_id"></div>
    <div class="admin"></div>

    <script>
        var number_id, problem_id, answer_id;
        var endNum = 5;
        var usedImages = [];
        var lastImage = 'qres.png';
        var allAnswers = [];
        var correctAnswers = {
            1: 'pwd',
            2: 'cat',
            3: 'touch',
            4: 'echo',
            5: 'bc',
            6: 'mkdir',
            7: 'man',
            8: 'passwd',
            9: 'cdp',
            10: 'mv',
            11: 'ps',
            12: 'hostname',
            13: 'locate',
            14: 'dir',
            15: 'tar'
        }
        //잘못된 답안
        var incorrectAnswers = ['sudo', 'cat', 'mkdir', 'rm', 'cd'];

        function getRandomImage() {
            var index = Math.floor(Math.random() * 15) + 1; // 1부터 120까지의 랜덤한 수
            var imageName = 'q' + index + '.png';

            // 이미 사용된 이미지이면 다시 선택
            while (usedImages.includes(imageName) || imageName === lastImage) {
                index = Math.floor(Math.random() * 15) + 1;
                imageName = 'q' + index + '.png';
            }
            usedImages.push(imageName);
            return imageName;
        }

        function init() {
            number_id = document.getElementById("number_id");
            problem_id = document.getElementById("problem_id");
            answer_id = document.getElementById("answer_id");
            startNum = 0;
            score = 0;
            setProblem();
        }

        init();

        function setProblem() {
            var imageName = startNum < endNum ? getRandomImage() : lastImage;
            problem_id.innerHTML = "<img src='./static/img/" + imageName + "' class='problem_img'>";

            if (startNum == endNum) {
                number_id.innerHTML = "<span class='label'>< 결과보기 ></span>";
                answer_id.innerHTML = "<div class='result-restart-buttons'><button type='button' class='button res' onclick='btnResFunc();'>결과보기</button></div>";
            }
            else {
                number_id.innerHTML = "<span class='label'><" + parseInt(startNum + 1) + " ></span>";
                answer_id.innerHTML = generateAnswerButtons();
            }
        }


        function generateAnswerButtons() {
            var imageName = usedImages[startNum];
            var selectedImageIndex = parseInt(imageName.replace('q', '').replace('.png', ''), 10);

            var correctAnswer = correctAnswers[selectedImageIndex];
            if (correctAnswers.hasOwnProperty(selectedImageIndex)) {
                var correctAnswer = correctAnswers[selectedImageIndex];
            } else {
                console.error('No correct answer for selectedImageIndex: ', selectedImageIndex); // log error if selectedImageIndex is not a key in correctAnswers
                return ''; // Or handle this case as you see fit
            }

            allAnswers = [correctAnswer]; // 정답을 첫 번째로 

            // 잘못된 답안을 선별
            while (allAnswers.length < 5) {
                var incorrect = incorrectAnswers[Math.floor(Math.random() * incorrectAnswers.length)];
                if (!allAnswers.includes(incorrect)) allAnswers.push(incorrect); // 이미 선택된 답안이 아니라면 추가
            }

            //무작위로 섞기
            allAnswers = allAnswers.sort(() => Math.random() - 0.5);

            var buttonsHTML = "";
            for (var i = 0; i < 5; i++) {
                buttonsHTML += "<span><button type='button' class='button option' onclick='btnFunc(" + (i + 1) + ", \"" + correctAnswer + "\");'>" + (i + 1) + "</button>" + allAnswers[i] + "</span> ";
            }
            return buttonsHTML;
        }


        function btnFunc(selectedOption, correctAnswer) {
            var selectedAnswer = allAnswers[selectedOption - 1];
            var imageName = usedImages[startNum];
            var selectedImageIndex = parseInt(imageName.replace('q', '').replace('.png', ''), 10);

            var commandName = correctAnswers[selectedImageIndex];  // 이미지 번호를 통해 명령어 이름을 찾습니다.

            var isCorrect = (correctAnswer == selectedAnswer);

            var dataToSend = {
                "command": commandName,  // 이전에는 이미지 번호였지만, 이제는 커맨드 이름을 보냅니다.
                "correct": isCorrect
            };

            fetch('/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSend)
            }).then(response => {
                return response.json();
            }).then(data => {
                if (data.status == "success") {
                    if (isCorrect) {
                        score++;
                    }
                    startNum++;
                    setProblem();
                } else {
                    // 여기에 실패 시 처리 로직을 추가하세요.
                }
            }).catch(error => {
                console.error(error);
            });
        }


        function btnResFunc() {
            Swal.fire({
                title: '',
                text: '',
                html: "<b>당신의 점수는 " + score + "점입니다.</b>",
                icon: 'success',
                confirmButtonColor: '#d33',
                confirmButtonText: '닫기',
                allowOutsideClick: false
            });
        }




    </script>
</body>

</html>