<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <div class="number" id="number_id"></div>
    <div class="problem" id="problem_id"></div>
    <div class="answer" id="answer_id"></div>
    <div class="admin"></div>

    <script>
        var number_id, problem_id, answer_id;
        var problem_arr = ['q1.png', 'q2.png', 'q3.png', 'q4.png', 'q5.png', 'qres.png'];
        var answer_arr = [1, 1, 1, 1, 1];

        function init() {
            number_id = document.getElementById("number_id");
            problem_id = document.getElementById("problem_id");
            answer_id = document.getElementById("answer_id");
            startNum = 0;
            endNum = 5;
            score = 0;
            setProblem();
        }

        init();

        function setProblem() {
            problem_id.innerHTML = "<img src='./static/img/" + problem_arr[startNum] + "' class='problem_img'>";

            if (startNum == endNum) {
                number_id.innerHTML = "<span class='label'>< 결과보기 ></span>";
                answer_id.innerHTML = "<button type='button' class='button res' onclick='btnResFunc();'>결과보기</button> <button type='button' class='button restart' onclick='history.go(0);'>다시하기</button>";
            } else {
                number_id.innerHTML = "<span class='label'><" + parseInt(startNum + 1) + " ></span>";
                answer_id.innerHTML = generateAnswerButtons();
            }
        }

        function generateAnswerButtons() {
            var buttonsHTML = "";
            for (var i = 1; i <= 5; i++) {
                buttonsHTML += "<button type='button' class='button option' onclick='btnFunc(" + i + ");'>" + i + "</button>";
            }
            return buttonsHTML;
        }

        function btnFunc(selectedOption) {
            if (answer_arr[startNum] == selectedOption) {
                score++;
            }
            startNum++;
            setProblem();
        }

        function btnResFunc() {
            Swal.fire({
                title: '',
                text: '',
                html: "<b>당신의 점수는 " + score + "점입니다.</b>",
                icon: 'success',
                confirmButtonColor: '#d33',
                confirmButtonText: '닫기',
                allowOutsideClick: false
            });
        }
    </script>
</body>

</html>