<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS import section start -->
        <!-- main CSS -->
        <link href="{{ url_for('static', filename='css/find.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- CSS import section end -->

    </head>
    
    <body class="signin_up" style="display: unset;">
        <img src="{{ url_for('static', filename='images/logo3.png') }}" alt="logo">
        <div class="forgotid_pw">
            Forgot PW?
        </div>
        <div class="forgotid_pw2">
            Forgotten your ID? Enter your name below, and we'll let you know your ID.
        </div>
            <form id="signin_form" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="user_id" placeholder="Enter your ID." style="margin-bottom: 1.3rem;">

                    <input type="text" class="form-control" id="user_name" placeholder="Enter your name">
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-cancel btn-lg">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>                               
            </form>

        <!-- find_pw 수정한 부분 -->
        

       
          
            <!-- Copyright -->
            <div class="text-center p-3">
              © 2023 Copyright:
              <a class="text-dark" href="#">Team Jirangobie</a>
            </div>
            <!-- Copyright -->
          </footer>


        <!-- Javascript import section start -->
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
        <!-- Jquery JS -->
        <script src="{{ url_for('static', filename='js/jquery/jquery-3.7.1.min.js') }}" crossorigin="anonymous"></script>
        <!-- Javascript import section end -->

        <!-- Javascript function section start -->
        <script>
            $(document).ready(function() {
                $('#signin_form').on('submit', function(event) {
                    event.preventDefault();
                    
                    // Save user information to a variable
                    var userId = $('#user_id').val();
                    var userName = $('#user_name').val();
                    
                    // Send user information to api
                    $.ajax({
                        url: '/API/find_pw',
                        data: JSON.stringify({
                            user_id: userId,
                            user_name: userName,
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        type: 'POST',
                        success: function(response) {
                            console.log(response);
                            if(response.status === 'success') {
                                alert("비밀번호 변경 요청을 관리자에게 보냈습니다. 확인 후 연락 드리겠습니다.");
                            }
                        },
                        error: function(error) {
                            if (error.responseJSON && error.responseJSON.message) {
                                alert(error.responseJSON.message);
                            } else {
                                alert("An unknown error occurred.");
                            }
                        }
                    });
                });
            });
        </script>            
        <!-- Javascript function section end -->
    </body>
</html>