<!doctype html>
<html lang="en">
  <head>
    {% include '/template/head.html' %}
    <title>Dashboard - Jirangobie</title>
    <style>
      .user-message {
          text-align: right;
          margin: 5px;
          padding: 5px;
          border-radius: 5px;
          background-color: #FBFAEC;
      }
      .bot-message {
          text-align: left;
          margin: 5px;
          padding: 5px;
          border-radius: 5px;
          background-color: #233C64;
          color:white;
      }
      .xterm .xterm-viewport {
        border-radius: 0 0 2rem 2rem;
      }
      .xterm .xterm-screen canvas {
        border-radius: 0 0 2rem 2rem;
        padding: 1rem;
      }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css"/>
  </head>
  <body>
    
    <div class="sidebar">
      {% include '/template/user_sidebar.html' %}
    </div>
    
    <div class="main_grid">
      <div class="top-content">
        {% include '/template/header.html' %}
      </div>
      <div class="bottom-content" style="display: flex;">
        <!-- Prompt HTML Section Start -->
        <div class="shadow-sm p-3 mb-5 bg-body rounded" style="margin: 1rem 1rem 0 2rem !important; height: 86vh; width: 50%; border-radius: 2rem!important; box-shadow: 0 1rem 3rem rgba(0,0,0,.3)!important;">
          <div chat-history style="height: 74vh; overflow: scroll; font-size: 14px;"></div>
          <div class="form-floating mb-3" style="display: flex; margin-top:1rem;">
            <textarea class="form-control" id="prompt-textarea" placeholder="Send a message" tabindex="0" rows="1" data-id="request-:r22:-3" style="resize: none; max-height: 200px; height: 40px; overflow-y: hidden; padding-top:.55rem; margin-right: .3rem;"></textarea>
            <button type="button" class="btn btn-primary" id="sendButton">Send</button>
          </div>
        </div>
        <!-- Prompt HTML Section End -->

        <!-- Terminal HTML Section Start -->
        <div class="shadow-sm bg-body rounded" style="margin: 1rem 2rem 0 1rem; height: 89%; width: 50%; border-radius: 2rem!important; box-shadow: 0 1rem 3rem rgba(0,0,0,.3)!important;">
          <div style="height: 86%;">
            <img src="{{ url_for('static', filename='images/icons/icons8-linux-50.png') }}" width="16"
            height="16" class="d-inline-block align-middle" alt="" style="margin-left:1.4rem;">
              <button class="btn btn-sm btn-outline-secondary" style="margin-left: .4rem; font-size: .67rem;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                서버 선택
              </button>
              <ul class="dropdown-menu">
              </ul>

            <span style="font-size: small">
              <span style="font-size: small" id="status"></span>
            </span>
            <div style="display: inline; float: right; margin-right: 1.4rem;">
            <img src="{{ url_for('static', filename='images/icons/icons8-filled-circle-30-red.png') }}" width="16"
            height="16" class="d-inline-block align-middle" alt="">
            <img src="{{ url_for('static', filename='images/icons/icons8-filled-circle-30-yellow.png') }}" width="16"
            height="16" class="d-inline-block align-middle" alt="">
            <img src="{{ url_for('static', filename='images/icons/icons8-filled-circle-30-green.png') }}" width="16"
            height="16" class="d-inline-block align-middle" alt="">
            </div>
            <div style="width: 100%; height: 90%" id="terminal"></div>

          </div>
        </div>
        <!-- Terminal HTML Section End -->

      </div>
      
    </div>
    {% include '/template/foot.html' %}
    <!-- xterm.js & socket javascript library -->
    <script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
    <script src="https://unpkg.com/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.js"></script>
    <script src="https://unpkg.com/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.js"></script>
    <script src="https://unpkg.com/xterm-addon-search@0.8.0/lib/xterm-addon-search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>


    <script>
    // Prompt javascript section start
    function addMessage(type, text) {
      const chatHistoryDiv = document.querySelector("[chat-history]");
      const messageDiv = document.createElement("div");
      messageDiv.style.display = "flex";
      messageDiv.style.borderRadius = "1rem"
      
      
      if (type === "user") {
        messageDiv.style.backgroundColor = "#FBFAEC";
        messageDiv.style.justifyContent = "right";
        messageDiv.style.margin = "0 0 10px 0";
        messageDiv.style.boxShadow = "0 .225rem .25rem rgba(0,0,0,.175)";
        
        const userIcon = document.createElement("img");
        userIcon.src = "{{ url_for('static', filename='images/icons/icons8-user-60.png') }}"; // 봇 아이콘 이미지 파일 경로
        userIcon.alt = "User Icon";
        userIcon.width = "32";
        userIcon.height = "32";
        userIcon.style.alignSelf = "baseline";
        userIcon.style.marginTop = "3px";
        userIcon.style.marginRight = "5px";
        const messageTextDiv = document.createElement("div");
        messageTextDiv.className = "user-message";
        messageTextDiv.innerText = text;
        messageDiv.appendChild(messageTextDiv);
        messageDiv.appendChild(userIcon);
        
      } else if (type === "bot") {
        messageDiv.style.backgroundColor = "#233C64";
        messageDiv.style.margin = "0 0 10px 0";
        messageDiv.style.boxShadow = "0 .225rem .25rem rgba(0,0,0,.175)";
        const botIcon = document.createElement("img");
        botIcon.src = "{{ url_for('static', filename='images/logo.png') }}"; // 봇 아이콘 이미지 파일 경로
        botIcon.alt = "Bot Icon";
        botIcon.className = "message-icon";
        botIcon.width = "32";
        botIcon.height = "32";
        botIcon.style.alignSelf = "baseline";
        botIcon.style.marginTop = "3px";
        botIcon.style.marginLeft = "5px";
        messageDiv.appendChild(botIcon);
        const messageTextDiv = document.createElement("div");
        messageTextDiv.className = "bot-message";
        messageTextDiv.innerText = text;
        messageDiv.appendChild(messageTextDiv);
      }

      

      chatHistoryDiv.appendChild(messageDiv);
    }

    // Copy to Clipboard function
    function copyToClipboard(text) {
        const textArea = document.createElement('textarea');
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand('copy');
        document.body.removeChild(textArea);
    }

    function run_on_terminal(text) {
      const text_del_br = text.replace(/<br\s*\/?>/g, "\n");
      const data = text_del_br + "\n";
      socket.emit("pty-input", { input: data });
    }


    $(document).ready(function() {
        $('#prompt-textarea').on('keydown', function(event) {
            if (event.which === 13) {
                if (event.shiftKey) {
                    return true;
                } else {
                    event.preventDefault();

                    /* 정책 수정: 검사 위해 checkMessage()로 (원래 sendMessage) */
                    checkMessage();
                }
            }
        });
         

        $("#sendButton").on("click", function() {
            /* 정책 수정: 검사 위해 checkMessage()로 (원래 sendMessage) */
            checkMessage();
        });

        /*  정책 수정: 입력값 <-> 정책 검사 함수 추가  */ 
        function checkMessage() {
            const message = $('#prompt-textarea').val().trim();
            if (!message) {
                return;
            }

            fetch('/API/check_input', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({input: message})
            })
            .then(response => response.json())
            .then(data => {
                if (data.violation) {
                    // 정책 위반 시 경고창을 띄움
                    showToast('Policy Violation detected');
                }
                // GPT-3의 응답과 상관없이 sendMessage 호출
                sendMessage();
            })
            .catch(error => {
                console.error("Error: ", error);
                showToast('Error occurred'); // 오류 발생 시 경고창
            });
        }

        // showToast method start
        function showToast(message) {
        const toast = $('<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">');
        const toastBody = $('<div class="toast-body">').text(message);
        toast.append(toastBody);
        $('body').append(toast);
        const bsToast = new bootstrap.Toast(toast);
        bsToast.show();
        }

        
        
        


        function sendMessage() {
            const message = $('#prompt-textarea').val().trim();
            if (!message) {
                return;
            }
            addMessage("user", message);
            const chatHistoryDiv = document.querySelector("[chat-history]");
            const messageDiv = document.createElement("div");
            messageDiv.style.display = "flex";
            messageDiv.style.borderRadius = "1rem"
            messageDiv.style.backgroundColor = "#233C64";
            messageDiv.style.margin = "0 0 10px 0";
            messageDiv.style.boxShadow = "0 .225rem .25rem rgba(0,0,0,.175)";
            
            const botIcon = document.createElement("img");
            botIcon.src = "{{ url_for('static', filename='images/logo.png') }}"; // 봇 아이콘 이미지 파일 경로
            botIcon.alt = "Bot Icon";
            botIcon.className = "message-icon";
            botIcon.width = "32";
            botIcon.height = "32";
            botIcon.style.alignSelf = "baseline";
            botIcon.style.marginTop = "3px";
            messageDiv.appendChild(botIcon);
            const messageTextDiv = document.createElement("div");
            messageTextDiv.className = "bot-message";

            messageDiv.appendChild(messageTextDiv);

            chatHistoryDiv.appendChild(messageDiv);

            let serverId;
            try {
              serverId = document.getElementById("hiddenServerId").value;
            } catch (error) {
              serverId = "None";  // hiddenServerId가 정의되지 않았을 경우 "None"을 설정합니다.
            }
            
            fetch('/API/prompt', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    message: message,
                    serverId: serverId
                })
            })
            .then(response => {
                const reader = response.body.getReader();
                const decoder = new TextDecoder();
                var sendbutton = document.getElementById("sendButton")
                sendbutton.innerText = "Stop"
                sendButton.className = "btn btn-danger";
                function stream() {
                  reader.read().then(({ done, value }) => {
                    var chatHistoryDiv = document.querySelector("[chat-history]");
                    chatHistoryDiv.scrollTop = chatHistoryDiv.scrollHeight;
                    
                    if (done) {
                      console.log("done!");
                      const hasCodeBlock = messageTextDiv.innerHTML.includes("```");
                      if (hasCodeBlock) {
                          const codeContent = messageTextDiv.innerHTML.replace(/```sh?<br\s*\/?>\n?([\s\S]+?)<br\s*\/?>\n?```/g, (match, p1) => {
                              return `
                                  <div class="code-container">
                                      <pre class="bash"><code>${p1}</code></pre>
                                      <button class="btn btn-dark" style="font-size: 10px; margin: 0px; padding: 0 5px 0 5px;" onclick="copyToClipboard('${p1.replace(/'/g, "\\'")}');">Copy to Clipboard</button>
                                      <button class="btn btn-dark" style="font-size: 10px; margin: 0px; padding: 0 5px 0 5px;" onclick="run_on_terminal('${p1.replace(/'/g, "\\'")}');">Run on Terminal</button>
                                  </div>`;
                          });
                          messageTextDiv.innerHTML = codeContent;
                      }
                      var sendbutton = document.getElementById("sendButton")
                      sendbutton.innerText = "Send"
                      sendButton.className = "btn btn-primary";
                      return;
                    }
                    const chunk = decoder.decode(value)
                        .replace(/data: /g, '')
                        .replace(/\n{2}/g, '\n');

                    if (chunk) {
                        const decodedMessage = chunk.split(",").map(code => String.fromCharCode(code)).join("");
                        console.log(decodedMessage)
                        messageTextDiv.innerText += decodedMessage;
                    }
                    stream();
                });
              }
              stream();
            })
            .catch(error => {
                console.error("Error:", error);
            });

            $('#prompt-textarea').val('');
        }
    });

    // showToast method start
    function showToast(message) {
    const toast = $('<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">');
    const toastBody = $('<div class="toast-body">').text(message);
    toast.append(toastBody);
    $('body').append(toast);
    const bsToast = new bootstrap.Toast(toast);
    bsToast.show();
  }

    
    addMessage("bot", "안녕하세요, 저는 당신의 리눅스 명령어 어시스턴트 Parrotor입니다. \n무엇을 도와드릴까요?");
    // Prompt javascript section end


  // Terminal javascript section start
    const term = new Terminal({
      cursorBlink: true,
      macOptionIsMeta: true,
      scrollback: true,
      fontSize: 14,
      theme: {
        background: '#233C64'
      }
    });
    term.attachCustomKeyEventHandler(customKeyEventHandler);

    const fit = new FitAddon.FitAddon();
    term.loadAddon(fit);
    term.loadAddon(new WebLinksAddon.WebLinksAddon());
    term.loadAddon(new SearchAddon.SearchAddon());

    term.open(document.getElementById("terminal"));
    fit.fit();
    term.resize(14, 82);
    // console.log(`size: ${term.cols} columns, ${term.rows} rows`);
    fit.fit();
    term.writeln("1. You can copy with ctrl+shift+x");
    term.writeln("2. You can paste with ctrl+shift+v");
    
    term.onData((data) => {
      console.log("browser terminal received new data:", data);
      socket.emit("pty-input", { input: data });
    });

    const socket = io.connect("/API/terminal/pty");
    const status = document.getElementById("status");

    

    
    socket.on("pty-output", function (data) {
      console.log("new output received from server:", data.output);
      term.write(data.output);
    });
    

    socket.on("connect", () => {
      fitToscreen();
    });

    socket.on("disconnect", () => {
      status.innerHTML =
        '<span style="background-color: #ff8383;">disconnected</span>';
    });

    function fitToscreen() {
      fit.fit();
      const dims = { cols: term.cols, rows: term.rows };
      console.log("sending new dimensions to server's pty", dims);
      socket.emit("resize", dims);
      // socket.emit("pty-init","");

    }

    function connect_server(serverId,serverName) {
      term.clear();
      term.reset();
      const test_val = serverId; // 선택한 서버의 ID를 전달
      socket.emit("connect-server", test_val);
      status.innerHTML = '<span style="background-color: #fff;">' + serverName + ' 서버가 연결됨</span><input type="hidden" id="hiddenServerId" value="' + serverId + '">';

      
    }



    function debounce(func, wait_ms) {
      let timeout;
      return function (...args) {
        const context = this;
        clearTimeout(timeout);
        timeout = setTimeout(() => func.apply(context, args), wait_ms);
      };
    }

    /**
     * Handle copy and paste events
     */
    function customKeyEventHandler(e) {
      if (e.type !== "keydown") {
        return true;
      }
      if (e.ctrlKey && e.shiftKey) {
        const key = e.key.toLowerCase();
        if (key === "v") {
          // ctrl+shift+v: paste whatever is in the clipboard
          navigator.clipboard.readText().then((toPaste) => {
            term.writeText(toPaste);
          });
          return false;
        } else if (key === "c" || key === "x") {
          // ctrl+shift+x: copy whatever is highlighted to clipboard

          // 'x' is used as an alternate to 'c' because ctrl+c is taken
          // by the terminal (SIGINT) and ctrl+shift+c is taken by the browser
          // (open devtools).
          // I'm not aware of ctrl+shift+x being used by anything in the terminal
          // or browser
          const toCopy = term.getSelection();
          navigator.clipboard.writeText(toCopy);
          term.focus();
          return false;
        }
      }
      return true;
    }

    const wait_ms = 50;
    window.onresize = debounce(fitToscreen, wait_ms);
    // Terminal javascript section end

    function fetchAndDisplayServerNames() {
      $.get("/API/remote/get-servers-name", function (data) {
        if (data.status === "success") {
          const serverList = data.servers;
          const serverDropdown = $(".dropdown-menu");

          // 서버 목록 순회하며 각 서버의 이름을 리스트에 추가
          for (const serverId in serverList) {
            const server = serverList[serverId];
            const serverName = server.server_name;

            // li 태그를 생성하고 리스트에 추가
            const listItem = $("<li>");
            const link = $("<a>").addClass("dropdown-item").attr("href", "#");
            link.text(serverName);
            listItem.append(link);

            // hidden input 요소를 생성하여 ID 값을 저장
            const hiddenInput = $("<input>")
              .attr("type", "hidden")
              .attr("name", "server-id")
              .val(serverId);
            listItem.append(hiddenInput);

            serverDropdown.append(listItem);

            // 클릭 이벤트를 처리하여 서버 이름을 선택하면 해당 서버로 연결하도록 구현
            link.click(function () {
              // 선택한 서버의 ID 값을 가져옴
              const selectedServerId = listItem.find('input[name="server-id"]').val();

              // 선택한 서버로 연결하는 함수 호출
              connect_server(selectedServerId,serverName);
            });
          }
        } else {
          console.error("Failed to fetch server names.");
        }
      });
    }

    // 페이지 로드 시 서버 이름을 가져와 리스트에 추가
    $(document).ready(function () {
      fetchAndDisplayServerNames();
    });
    </script>
  </body>
</html>