<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS import section start -->
        <!-- main CSS -->
        <link href="{{ url_for('static', filename='css/figma-signin.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- CSS import section end -->
        <style>
            body {
                background-image: url("{{ url_for('static', filename='images/login-page-bg.png') }}");
                background-position: center;
            }
        </style>
    </head>
    
    <body class="signin_up" style="display: unset;">      
            <img src="static/images/logo3.png" alt="logo3">
            <div class="assistant-description">
                사용자의 편의를 고려한, <br/>리눅스 및 보안 업무 어시스턴트<br/>
            </div>            
            <div class="parrotor-title">Parrotor</div>
                    <!-- Form container -->
                    <form id="signin_form" method="post">                        
                        <div class="input-container">
                            <div class="form-group">
                                <label for="user_id" class="form-label">이메일</label>
                                <input type="text" class="form-control" id="user_id" placeholder="abc@email.com">
                            </div>
                            <div class="form-group">
                                <label for="user_pw" class="form-label">비밀번호</label>
                                <input type="password" class="form-control" id="user_pw" aria-describedby="passwordHelp" placeholder="Password">
                            </div>
                        </div>
                        <button type="submit" class="loginbtn loginbtn-primary loginbtn-lg loginbtn-block">로그인</button>
                    </form>
                    <div class="login_options">
                        <button type="button" class="btn" onClick="location.href='/find_id'">아이디 찾기</button><span>|</span>
                        <button type="button" class="btn" onClick="location.href='/find_pw'">비밀번호 찾기</button><span>|</span>
                        <button type="button" class="btn" onClick="location.href='/signup'">회원가입</button>
                    </div>
                </div>
            </div>
        </div>
        
        
            <!-- Copyright -->
            <div class="text-center p-3">
              © 2023 Copyright:
              <a class="text-dark" href="#">Team Jirangobie</a>
            </div>
            <!-- Copyright -->



        <!-- Javascript import section start -->
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
        <!-- Jquery JS -->
        <script src="{{ url_for('static', filename='js/jquery/jquery-3.7.1.min.js') }}" crossorigin="anonymous"></script>
        <!-- Javascript import section end -->

        <!-- Javascript function section start -->
        <script>
            $(document).ready(function() {
                $('#signin_form').on('submit', function(event) {
                    event.preventDefault();
                    
                    // Save user information to a variable
                    var userId = $('#user_id').val();
                    var userPw = $('#user_pw').val();
                    
                    // Send user information to api
                    $.ajax({
                        url: '/API/account/signin',
                        data: JSON.stringify({
                            user_id: userId,
                            user_pw: userPw,
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        type: 'POST',
                        success: function(response) {
                            console.log(response);
                            if(response.status === 'success') {
                                // 로그인이 성공적으로 완료되면 서버에서 받은 토큰을 쿠키에 저장합니다.
                                document.cookie = "access_token=" + response.token + ";path=/;samesite=strict";
                                alert(response.message);
                                window.location.href = '/dashboard'
                            } else if(response.status === 'fail') {
                                alert(response.message);  // 로그인이 실패하면 서버에서 받은 에러 메시지를 띄웁니다.
                            }
                        },
                        error: function(error) {
                            alert(error.responseJSON.message);  // AJAX 요청 자체가 실패하면 기본 에러 메시지를 띄웁니다.
                        }
                    });
                });
            });
        </script>            
        <!-- Javascript function section end -->
    </body>
</html>