<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS import section start -->
        <!-- main CSS -->
        <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- CSS import section end -->

        <title>Signup - Parrotor</title>
    </head>
    
    <body class="signin_up" style="display: unset;">
        

            <div style="width: 100%;height: 10px;margin-top: 80px; text-align: center; color: #233C64; font-size: 14px; font-family: Poppins; font-weight: 600; text-transform: uppercase; line-height: 16px; letter-spacing: 1px; word-wrap: break-word">Parrotor</div>
            <div class="signup-title">
                회원가입 이후<br/>이용하세요.
            </div>
            
            <form id="signup_form" method="post">
                <div class="input-container">
                    <div class="form-group">
                        <label for="user_name" class="form-label">이름</label>
                        <input type="text" class="form-control" id="user_name" placeholder="홍길동">
                    </div>
                    <div class="form-group">
                        <label for="user_id" class="form-label">아이디</label>
                        <input type="text" class="form-control" id="user_id" placeholder="userID">
                    </div>
                    <div class="form-group">
                        <label for="user_pw" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="user_pw" aria-describedby="passwordHelp" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="user_pw_check" class="form-label">비밀번호 재입력</label>
                        <input type="password" class="form-control" id="user_pw_check" placeholder="Confirm Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block signup-button">회원가입</button>
            </form>
            
            
            <div class="login_options">
                <span>아이디가 존재하나요? </span>
                <button type="button" class="btn btn-outline-dark" onClick="location.href='/'">로그인 하기</button>
            </div>
            
        

                     
            <!-- Copyright -->
            <div class="text-center p-3">
              © 2023 Copyright:
              <a class="text-dark" href="#">Team Jirangobie</a>
            </div>
            <!-- Copyright -->


        <!-- Javascript import section start -->
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
        <!-- Jquery JS -->
        <script src="{{ url_for('static', filename='js/jquery/jquery-3.7.1.min.js') }}" crossorigin="anonymous"></script>
        <!-- Javascript import section end -->

        <!-- Javascript function section start -->
        <script>
            $(document).ready(function() {
                $('#signup_form').on('submit', function(event) {
                    event.preventDefault();
                    
                    // Save user information to a variable
                    var userName = $('#user_name').val();
                    var userId = $('#user_id').val();
                    var userPw = $('#user_pw').val();
                    var userPwCheck = $('#user_pw_check').val();
                    
                    // Send user information to api
                    $.ajax({
                        url: '/API/account/signup',
                        data: JSON.stringify({
                            user_name: userName,
                            user_id: userId,
                            user_pw: userPw,
                            user_pw_check: userPwCheck
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        type: 'POST',
                        success: function(response) {
                            console.log(response);
                            if(response.status === 'success') {
                                alert(response.message);  // 회원가입이 성공적으로 완료되면 서버에서 받은 메시지를 띄웁니다.
                                window.location.href = '/'
                            } else if(response.status === 'fail') {
                                alert(response.message);  // 회원가입이 실패하면 서버에서 받은 에러 메시지를 띄웁니다.
                            }
                        },
                        error: function(error) {
                            alert(error.responseJSON.message);  // AJAX 요청 자체가 실패하면 기본 에러 메시지를 띄웁니다.
                        }
                    });
                });
            });
        </script>            
        <!-- Javascript function section end -->
    </body>
</html>