<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS import section start -->
        <!-- main CSS -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
        <!-- CSS import section end -->

        <title>Signup - Jirangobie</title>
    </head>
    
    <body class="signin_up">
        <nav class="navbar navbar-light bg-light" style="justify-content: center; background-color: #233C63 !important;">
            <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:#fff;">지란고비~!</span>
            </a>
        </nav>

        <div class="form shadow-sm p-3 mb-5 bg-white rounded">
            <h2 style="margin-bottom: 2rem;">회원가입</h2>
            <form id="signup_form" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="user_name"placeholder="이름을 입력하세요.">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="user_id" placeholder="아이디를 입력하세요.">
                </div>
                <div class="form-group"  style="text-align: left;">
                    <input type="password" class="form-control" id="user_pw" aria-describedby="passwordHelp" placeholder="비밀번호를 입력하세요." style="margin-bottom: 0;">
                    <small id="passwordHelp" class="form-text text-muted" style="margin-left:.5rem;">영문 소문자, 대문자, 숫자 섞어서 10자 이상</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="user_pw_check" placeholder="비밀번호를 재입력하세요.">
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 100%;">회원가입</button>
                
            </form>
            <div class="login_options">
                <button type="button" class="btn btn-outline-dark" onClick="location.href='#'">아이디 찾기</button><span>|</span>
                <button type="button" class="btn btn-outline-dark" onClick="location.href='#'">비밀번호 찾기</button><span>|</span>
                <button type="button" class="btn btn-outline-dark" onClick="location.href='/'">로그인</button>
            </div>
        </div>

        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">안녕하세요</h5>
          
                  <p>
                    안녕하세요
                  </p>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">안녕하세요</h5>
          
                  <p>
                    안녕하세요
                  </p>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Copyright:
              <a class="text-dark" href="#">Team Jirangobie</a>
            </div>
            <!-- Copyright -->
          </footer>

        <!-- Javascript import section start -->
        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
        <!-- Jquery JS -->
        <script src="{{ url_for('static', filename='js/jquery/jquery-3.7.1.min.js') }}" crossorigin="anonymous"></script>
        <!-- Javascript import section end -->

        <!-- Javascript function section start -->
        <script>
            $(document).ready(function() {
                $('#signup_form').on('submit', function(event) {
                    event.preventDefault();
                    
                    // Save user information to a variable
                    var userName = $('#user_name').val();
                    var userId = $('#user_id').val();
                    var userPw = $('#user_pw').val();
                    var userPwCheck = $('#user_pw_check').val();
                    
                    // Send user information to api
                    $.ajax({
                        url: '/API/account/signup',
                        data: JSON.stringify({
                            user_name: userName,
                            user_id: userId,
                            user_pw: userPw,
                            user_pw_check: userPwCheck
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        type: 'POST',
                        success: function(response) {
                            console.log(response);
                            if(response.status === 'success') {
                                alert(response.message);  // 회원가입이 성공적으로 완료되면 서버에서 받은 메시지를 띄웁니다.
                                window.location.href = '/'
                            } else if(response.status === 'fail') {
                                alert(response.message);  // 회원가입이 실패하면 서버에서 받은 에러 메시지를 띄웁니다.
                            }
                        },
                        error: function(error) {
                            alert(error.responseJSON.message);  // AJAX 요청 자체가 실패하면 기본 에러 메시지를 띄웁니다.
                        }
                    });
                });
            });
        </script>            
        <!-- Javascript function section end -->
    </body>
</html>